{% extends 'base.html.twig' %}

{% block title %}Öğrenci Sayfası!{% endblock %}

{% block body %}
<h1>Öğrencimiz</h1>
{{ogrenci.getAd()}}
{{ogrenci.soyad}}
<h1>
Aldığı Dersler:
</h1>
{% for item in ogrenci.getAlinanDers() %}
<p>
{{item.getDersAdi()}}

</p>

{% endfor %}
{% endblock %}
